
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,300italic,400italic,500italic,700italic,700);

  #about-cards .demo-card-square.mdl-card {

  width: 320px;
  height: 380px;
}
  #about-cards .demo-card-square > .mdl-card__title {
  color: #fff;
//  background:
  //  url('https://unsplash.it/320/320?random') top left 15% no-repeat #46B6AC;

}

#progressive > .mdl-card__title {
  background:
      url('../elite1.jpg') bottom right 100% no-repeat #46B6AC;
  background-size: 320px;
}

#fun > .mdl-card__title {
  background:
      url('../elite2.jpg') bottom right 100% no-repeat #46B6AC;
  background-size: 320px;
}

#map > .mdl-card__title {
  background:
      url('../elitemap.png') top left 100% no-repeat #46B6AC;
  background-size: cover;
}

  #about-cards .demo-card-square {
    margin: 0px 10px 15px 10px;

}
  #about-cards .demo-card-wide.mdl-card {
  width: 512px;


}
  #about-cards .demo-card-wide > .mdl-card__title {
  color: #efefef;
  height: 50px;
  background-color: indigo;
}


  #about-cards .demo-card-wide > .mdl-card__menu {
  color: red;
}


body {
  font-family: 'Roboto', serif;
}



.material-icons.md-48 {
  font-size: 48px;
}



#arrow {


  text-align: center;
  position: relative;
  bottom: 30px;
}

#header {
margin: 0px 0px 0px 0px;
background-color: #a9a9a9;
  height: 300px;
  //outline: solid yellow 10px;
}

#header-content {
  background: url('../elitegloal.jpg') center / cover;
  color: white;
  font-size: 48px;
  line-height: 300px;
  text-align: center;
  text-transform: uppercase;
}



#requirements {

  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
  //outline: red solid 2px;
  padding-top: 20px;
  padding-bottom: 20px;

}


#requirements-list {
  //width: 480px;
  width:80%;
  margin: auto;
}

#interested {
  margin: 15px 20px 20px 20px;
  // width: 480px;
  display:flex;
  flex-direction: column;
  align-items: center;

}


#application-cards {

display: flex;
  justify-content: center;
}

#apply {
    background-color: #caebf2;
//  height: 700px;
display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //outline: solid 10px limegreen;
padding-top: 20px;
padding-bottom: 20px;


}


#about {

  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;

}

#about-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

#footer {
background-color: #212121 !important;
  height: 100px;
}






p#blurb {
  width: 80%;
  margin: auto;
}



#success {
  color: #ee6e73;
  text-align: center;
  padding: 20px;
}

/* resume upload */
#uploadelements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //outline: pink 2px solid;
  margin-top: 30px;
}



.none {
  display: none;
}


#file-input-text-div {
  width: 250px;
  margin-left: 20px;
}

#container .mdl-card__supporting-text {
  height: 265px;
}
/* end resume upload */


/*#essaytext-expanded {
  display: none;
  width: 550px;
}*/




#scroll {
  height: 402px;
  width: 322px;
  //outline: 1px dotted blue;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}


#container {
  height: 400px;
  width: calc(4*320px);
  //outline: 2px solid limegreen;
  transition: all .4s ease-in-out;

  display: flex;
  flex-direction: row;

}


#container .demo-card-square.mdl-card {
  width: 320px;
  height: 400px;
}
#container  .demo-card-square > .mdl-card__title {
  color: #fff;
  background: #46B6AC;
//  outline: red solid 2px;
}



#container  .mdl-card__supporting-text > .mdl-textfield {
  width: 200px;

}



#essaytext {
   width: 300px;
  // outline: red solid 2px;
}

#essaytext .mdl-textfield.is-focused {
  width: 300px;
}



#container  .mdl-card__actions > .mdl-button {
  float: right;
}

@media all and (min-width: 605px)  {

  #requirements-list {
    //width: 480px;
    width:50%;
    margin: auto;
  }

  #header {
  margin: 0px 0px 0px 0px;
  background-color: #a9a9a9;
    height: 600px;
    //outline: solid yellow 10px;
  }

  #header-content {

    color: white;
    font-size: 64px;
    line-height: 600px;
    text-align: center;
    text-transform: uppercase;
  }



  p#blurb {
    width: 50%;
    margin: auto;
  }



  #container {
    height: 300px;
    width: calc(4*600px);
  }

  #container  .demo-card-square.mdl-card {
    width: 600px;
    height: 300px;
  }

  #scroll {
    height: 302px;
    width: 602px;
  }

/* resize essay box */

#essaytext {
   width: 550px;
   height: 90px;
  // outline: red solid 2px;
}

#essaytext .mdl-textfield.is-focused {
  width: 550px;
}
/* add the large essay box */
/* this is a problem because the text typed in will not remain when resizing the wiindow */
  /*#essaytext-expanded {
    display: block;
  }*/


#uploadelements {
  flex-direction: row;
}


/* this makes all cards have uniform content height */
#container .mdl-card__supporting-text {
  height: 155px;
}
