
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,300italic,400italic,500italic,700italic,700);

.demo-card-square.mdl-card {

  width: 320px;
  height: 380px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
//  background:
  //  url('https://unsplash.it/320/320?random') top left 15% no-repeat #46B6AC;

}

#progressive > .mdl-card__title {
  background:
      url('../elite1.jpg') bottom right 100% no-repeat #46B6AC;
  background-size: 320px;
}

#fun > .mdl-card__title {
  background:
      url('../elite2.jpg') bottom right 100% no-repeat #46B6AC;
  background-size: 320px;
}

#map > .mdl-card__title {
  background:
      url('../elitemap.png') top left 100% no-repeat #46B6AC;
  background-size: cover;
}

.demo-card-square {
    margin: 0px 10px 15px 10px;

}
.demo-card-wide.mdl-card {
  width: 512px;


}
.demo-card-wide > .mdl-card__title {
  color: #efefef;
  height: 50px;
  background-color: indigo;
}


.demo-card-wide > .mdl-card__menu {
  color: red;
}


body {
  font-family: 'Roboto', serif;
}

#header {
margin: 0px 0px 0px 0px;
background-color: #a9a9a9;
  height: 600px;
  //outline: solid yellow 10px;
}

.material-icons.md-48 {
  font-size: 48px;
}



#arrow {
  z-index: 11;
  font-size: 100px;
  text-align: center;
  position: relative;
  bottom: 40px;
}

#header-content {
  background: url('../elitegloal.jpg') center / cover;
  color: white;
  font-size: 64px;
  line-height: 600px;
  text-align: center;
  text-transform: uppercase;
}

#bg-img {

  background: url('https://unsplash.it/1000/600?image=1078') #caebf2 fixed center;
 height: 300px;
  opacity: 0.7;
}

#nav {

  height: 50px;
  display: flex;
  z-index: 10;
}
.nav-unit {
  margin: 0px 0px;
    background: #a9a9a9;
  flex-direction: row;
  justify-content: space-between;
  flex-grow:1;
  text-align: center;
  color: #caebf2;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  height: 50px;
  text-shadow: 0px 2px 3px #555;

}

#requirements {
  height: 500px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
}


#requirements > .demo-list-item {
  //width: 480px;
}

#interested {
  margin: 15px 20px 20px 20px;
  // width: 480px;
  display:flex;
  flex-direction: column;
  align-items: center;

}


#application-cards {

display: flex;
  justify-content: center;
}

#apply {
    background-color: #caebf2;
//  height: 700px;
display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //outline: solid 10px limegreen;



}
#slider {
  width: 850px;


}

.gallery {
  width: 100%;
    height: 300px;
  contain: true;

}


.gallery-cell {
  width: 100%;
height: 100%;

  display:flex;
  justify-content: center;





}

.flickity-prev-next-button {
  background: transparent;
}

.flickity-prev-next-button:hover {
  background: transparent;
}

#about {

  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;

}

#about-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

#footer {
background-color: #ff3b3f;
  height: 100px;
}



.demo-card-wide.mdl-card {
width: 600px;
height: 300px;
 //outline: limegreen 10px solid;
// display: flex;
}


p#blurb {
  margin: auto;
}


#window {
  height: 300px;
  width: 600px;
  outline: 2px solid limegreen;
   overflow:hidden;
   margin: 20px;

}

#cards {

 display:flex;
 flex-direction: row;
 width: 2400px;
 transition: all .4s;
}


#name {
display:flex;
margin-top: 10px;
justify-content: left;

}

#contact{
  display: flex;

}


.mdl-button {
// outline: red solid 5px;
margin-left: 10px ;

}



.demo-card-wide > .mdl-card__title {
color: #fff;
height: 64px;
background-color:indigo;
}

.mdl-card__title-text {
position: relative;
top: 6px;

}

.demo-card-wide > .mdl-card__menu {
color: #fff;
}


#mycard, #mycard2, #mycard3, #mycard4 {
height: 300px;
width:600px;
display:flex;
flex-direction: row;
 outline: red solid 2px;
justify-content: center;
align-items: center;

}


.hidden {
   display: none;
 }

.next {
position: relative;
top: 95px;
right: 38px;
z-index:1;
opacity: 1;


}

#next:disabled, #nextessay:disabled, #nextfile:disabled {
  background-color: #dfdfdf;

}


#essay {
  width: 100%;
}




#contactform {

//  padding-bottom:100px;
}

.mdl-textfield {
  margin-right: 10px;
}



.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-64, .mdl-button.mdl-64 {
  font-size: 64px;
}



input[type="file"] {
  display: none;
}


#file-input-text-div {
  width: 250px;
  margin-left: 20px;
}



#uploadelements {
  display: flex;
  //margin-top: 20px;
  //height: 100%;
  justify-content: center;
  align-items: center;
  //outline: pink 2px solid;

}

.star.mdl-button {
  //outline: green 2px solid;
  margin: 0px;
  transform: scale(.5);
  transition: all .4s .2s;


}

.star.focused.mdl-button {
  transform: scale(1.5);
}



#star {
  display: flex;
  flex-direction: column;
align-items: center;
  //outline: red solid 2px;
  justify-content: center;
  margin: 2px;
  height: 100%;

}


.success.mdl-card {
  position: relative;
}
#successtext {

  position: absolute;
  padding-bottom: 10px;
 top: -100px;
left: 12%;
transform: translate(-6%,0);
  transition: all .4s .5s ease-in-out;
  //outline: blue 2px solid;
}



@keyframes drop {
  0%{top: 10px}
  100%{top: 100px}
}

#successtext.focused {
  top: 0px;
}
